.status {
	border-bottom: 1px solid #CCC;
	padding: 5px 0;
}

.status p {
	
}

.status h4 {
	font-size: 22px;
	margin-top: 20px;
	font-weight: normal;
}

.meta {
	padding-bottom: 20px;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.status.hover {
	background: #FAFAFA;
}